@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
html{
  scroll-behavior: smooth;
}
body{
    
    margin:0;
    font-family: 'Poppins', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
  }
  .container{
     max-width: 1140px;
     margin:auto;
  }
  .row{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}
 .section-title{
  flex:0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
}
 .section-title h1{
  display: inline-block;
  font-size:35px;
  text-transform: uppercase;
  font-weight:700px;
  color:#000000;
  margin:0 0 10px;
  position:relative;
  
}
 .section-title h1:before{
  content: '';
  left:0;
  position:absolute;
  height:2px;
  right:38%;
  background-color: #25041e;
  bottom:0px;
}
.text-center{
  text-align: center!important;
}
.text-left{
  text-align: left!important;
}
.text-right{
  text-align: right!important;
}
header{
    position: absolute;
    left:0px ;
    right: 0px;
    border-bottom: 0px solid #ffffff;
    padding: 0px 15px;
    z-index:10 ;   
}
header.fixed{
  background-color:#ffffff;
  position:fixed;
  border-color:#eeeeee;
  animation: fixHeader .5s ease;
  z-index:11;
}
@keyframes fixHeader{
  0%{
      transform: translateY(-100%);opacity:0;
  }
  100%{
    transform: translateY(-0%)
  }
}
header .row{
    justify-content: space-between;
    align-items: center;
}
header .brand-name a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 400px;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
 }
header.fixed .brand-name a{
   color:#000000;
 }
header .Grant ul{
    list-style: none;
    padding: 0;
    margin: 0;
 
 }
 header .Grant ul li{
    display: inline-block;
    margin-left: 35px;
 }
 header .Grant ul li a{
   font-size: 20px;
   text-decoration: none;
   line-height: 72px;
   color:#ffffff;
   display: block;
   font-weight: 600;
   position: relative;
 }
 header.fixed .Grant ul li a{
   color:#000000;
 }
 header .Grant ul li a::before{
    content:'';
    height:3px;
    background-color: #ffffff;
    width:0%;
    position: absolute;
    right:0px;
    bottom:-1px;
    transition:all .5s ease;
  }
  header.fixed .Grant ul li a::before{
    background-color:#0f043f;
  }
  header .Grant ul li a:hover::before{
    width: 100%;
    left:0;
  }
  header .Grant ul li a:active::before{
    width: 100%;
    left:0;

  }
  
.home{
    min-height:100vh;
    background-image: url(finalcut.jpg);
    background-size: cover;
    background-position: center;
    padding: 15px
}
.home .full-screen{
    min-height: 100vh;
  }
  .home .home-content{
    flex:0 0 100%;
    max-width: 100%;
    display:flex;
    flex-wrap:wrap;
    padding-bottom: 100px; 
 
  
  }
  .home .home-content .block{
    flex: 0 0 50%;
    max-width:50%;
    padding-left: 35px;
  /*  border: 5px solid #ffffff;
    border-radius: 50px;*/
  }
  .home .home-content .block h1{
    color:#ffffff;
    font-size: 50px;
    font-weight: 600;
    margin:0;
    padding:0;
    text-transform: uppercase;
  }
  .home .home-content .block h3{
    color:#ffffff;
    font-size:25px;
    font-weight: 500;
    margin:0 0 10px;
    padding:0;
  }
  .home .home-content .block .cv-btn{
    padding: 0;
  }
  .home .home-content .block .cv-btn a{
   border-radius: 4px;
   color:#ffffff;
   padding:12px 25px;
   text-decoration: none;
   display: inline-block;
   font-size: 14px;
   text-transform: uppercase;
   font-weight: 600;
   transition: all .5s ease;
   background-color: transparent;
  
  }
  .home .home-content .block .cv-btn a:hover{
    background-color: #ffffff;
    color:#000000;
  }
  .about-me{
    padding:100px 15px;
    background-color: #ffffff;
  }
  
  .text-uppercase{
    text-transform: uppercase!important;
  }
  .about-me .section-title p.small{
    display:block;
    font-size: 14px;
    color:#838383;
    font-weight: 400;
    letter-spacing: 2px;
  }
  
    
  
  .about-me .about-content .img{
   flex:0 0 33.33%;
    max-width: 33.33%;
  
  }
  .about-me .about-content .img img{
    width: 100%;
    display:block;
  }
 .about-me .about-content .text{
    flex:0 0 66.66%;
    max-width: 66.66%;
    padding-left: 30px
  }
  .about-me .about-content .text h4{
   font-size: 25px;
   font-weight: 600px;
   margin:0 0 5px;
   color:#000000;
  }
  .about-me .about-content .text h6{
    font-size: 18px;
    font-weight: 400px;
    margin:0 0 15px;
    color:#000000;
  }
  .about-me .about-content .text h6 span{
    color:#720000;
  }
  .about-me .about-content .text p{
    font-size:15px;
    font-weight: 400;
    line-height: 24px;
    color:#838383;
    margin:0 0 20px;
  }
  .about-me .about-content .text .info{
    
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    margin-top:10px;
  }
  .about-me .about-content .text .info .list{
    
    flex:0 0 calc(50% - 15px);
    max-width: calc(50% - 15px);
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    border-bottom:1px solid #dee2e6;
    padding-bottom: 5px;
    padding-top: 10px;
  }
  .about-me .about-content .text .info .list label{
    padding-right:10px;
    color:#000000;
    font-weight:600;
    font-size: 15px;
  }
  .about-me .about-content .text .info .list p{
    margin:0;
    
  }
  .about-me .about-content .text .Social-links{
    padding-top: 30px;

  }
  .about-me .about-content .text .Social-links a{
    height:30px;
    width:30px;
    border-radius:3px;
    display: inline-block;
    background-color: #000000;
    border:1px solid #000000;
    line-height: 28px;
    text-align: center;
    margin:0 1px;
    -webkit-transition: all .5s ease;
    transition:all .5s ease;
  }
  .about-me .about-content .text .Social-links a:hover{
    background-color: transparent;
  }
  .about-me .about-content .text .Social-links a .fa{
    color:#720514;
    font-size: 2ss0px;
    -webkit-transition: all .5s ease;
    transition:all .5s ease;
  }
  .about-me .about-content .text .Social-links a:hover{
    background-color: #ffffff;
  }
  .Services{
    background-color:#f5f8fd;
    padding:100px 15px 70px;
  }
  .Services .section-title h1:before{
    left:30%;
  }
  .Services .Service-content{
    
    flex:0 0 100%;
    max-width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .Services .Service-content .box{
    background-color:#ffffff;
    padding:30px;
    flex:0 0 calc(33.33% - 20px);
    max-width:calc(33.33% - 20px);
    margin-bottom: 30px; 
    text-align: center;
    border:1px solid #eeeeee;
    text-align: center;
    position:relative;
    border-radius: 5px;
  }
  .Services .Service-content .box ::before{
    content:'';
    height:2px;
    background-color: #070730;
    position:absolute;
    bottom:0px;
    width:60px;
    left:0;
    right:0;
    margin:auto;
    transition: all .8s ease;
  }
  .Services .Service-content .box:hover ::before{
    width:100%;

  }

  .Services .Service-content .box .icon{
    height: 60px;
    width:60px;
    background-color: #070730;
    margin:15px auto 20px;
    border-radius: 50%;
    text-align: center;
   
    
  }
  .Services .Service-content .box .icon .fa{
    font-size: 25px;
    color:#ffffff;
    line-height: 60px;
  }
  .Services .Service-content .box h5{
    font-size: 16px;
    font-weight: 600;
    color:#000000;
    margin:0;
  }
  .skills{
   padding:100px 15px;
   background-color:#ffffff;
  }
 .skills .Skills-content{ 
    flex: 0 0 50%;
    max-width:50%;
    padding-right:40px;
  }
 .skills .img{
   flex: 0 0 50%;
   max-width:50%;
   padding-right:30px;
 }
 .align-items-center{
    align-items: center;
 }
 .skills .img img{
   width:70%;
   display:block;
 }
 .skills .Skills-content .section-title p{
  font-size:15px;
  font-weight: 400;
  line-height: 24px;
  color:#838383;
  margin:15px 0 0px;
 }
 .skills .Skills-content .skill-box{
   
   flex:0 0 100%;
   max-width: 100%;
   margin-bottom:30px; 
 }
 .skills .Skills-content .skill-box h6{
   font-size: 16px;
   font-weight: 500;
   color:#000000;
   margin:0 0 8px;
 }
 .skills .Skills-content .skill-box .skill-bar{
   height:6px;
   background-color: #eeeeee;
   position:relative;
 }
 .skills .Skills-content .skill-box .skill-bar .skill-bar-in{
   background-color: #1201fe;
   position: absolute;
   left:0;
   top:0;
   height:100%;
 }
 .skills .Skills-content .skill-box .skill-bar .skill-bar-in span{
   color:#838383;
   font-size:16px;
   font-weight:400;
   position: absolute;
   right: 0;
   top:-30px;}

   .portfolio{
    background-color:#f5f7fd;
    padding: 100px 7px;
  }
  .portfolio .section-title h1:before{
    left:30%;
  }
  .portfolio .filter-buttons{
    flex:0 0 100%;
    max-width: 100%;
  }
  .portfolio .filter-buttons ul{
    list-style: none;
    text-align: center;
    padding: 0;
  }
  .portfolio .filter-buttons ul li{
    color:#000000;
    font-weight:500;
    font-size: 16px;
    display: inline-block;
    margin:0px 8px;
    text-transform:uppercase;
    cursor: pointer;
    padding-bottom: 0px;
   }
   .portfolio .filter-buttons ul li.active{
    color:blue;
    border-bottom:2px solid #420909;
  }
  .portfolio .filter-buttons{
    margin-bottom:25px;
  }
  .portfolio .portfolio-gallery{
    flex:0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }  
  .portfolio .portfolio-gallery .item{
    flex:0 0 33.33%;
    max-width:33.33%;
    padding: 8px;
    position: relative;
  }
  .portfolio .portfolio-gallery .item .inner{
    position: relative;
  }
  .portfolio .portfolio-gallery .item img{
    width:100%;
   height:450px;
   display:block;
   }
   .portfolio .portfolio-gallery .item .overlay{
    position:absolute;
   left:0;
   top:0;
   bottom:0;
   right:0;
   background-color: rgba(0,0,0,0.7);
   display:flex;
   z-index:10;
   flex-wrap: nowrap;
   flex-direction:column;
   align-items: center;
   justify-content: center;
   opacity:0;
   transition: all .5s ease;
  }
  .portfolio .portfolio-gallery .item:hover .overlay{
    opacity:1;
  }
  .portfolio .portfolio-gallery .item .overlay .fa{
    height:50px;
    width:50px;
    background-color:#070730;
    color:#ffffff;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    border-radius:50%;
    cursor: pointer;
  }
  .portfolio .portfolio-gallery .item:hover .overlay .fa{
    -webkit-animation:galleryIcon .8s ease;
    animation: galleryIcon .8s ease;
   }
  @keyframes galleryIcon{
    0%{
      transform: translateY(-20px);opacity:0;
    }
    100%{
      transform: translateY(0);opacity:1;
    }
  }
  
  .portfolio .portfolio-gallery .item .overlay h4{
    margin-top:15px;
    font-size: 25px;
    color:#ffffff;
    font-weight: 600;
    animation: galleryText .8s ease;
   }
   .portfolio .portfolio-gallery .item:hover .overlay h4{
    -webkit-animation:galleryText .8s ease;
     animation: galleryText .8s ease;
    }
   
   @keyframes galleryText{
    0%{
      transform: translateY(20px);opacity:0;
    }
    100%{
      transform: translateY(0px);opacity:1;
    }
  }
  .lightbox{
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    z-index:100;
    background-color:rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
  }  
  .lightbox.show{
    display:flex;
  }
  .lightbox.hide{
    display:none;
  }
  .lightbox .close-lightbox {
    height:35px;
    width: 35px;
    color:#f70808;
    background-color: #000000;
    text-align: center;
    line-height: 35px;
    position: absolute;
    right:10px;
    top:10px;
    cursor:pointer;
    border-radius:50%;
    z-index:101;
  }
  .lightbox img{
    max-width:90%;
    max-height:80%;
    display:block;
  }
 
.message-text{
  background-color:#0c0c17;
  padding:40px 15px;
}
.message-text .text{
  flex:0 0 66.66%;
  max-width:66.66%;
}
.message-text .text h1{
  font-size:25px;
  color:#ffffff;
  font-weight:700;
  margin:0;
  padding:0;
  line-height:35px;
}
.message-text .button{
  flex:0 0 33.33%;
  max-width:33.33%;
  text-align: right;
}
.message-text .button a{
border-radius: 4px;
color:#ffffff;
padding:12px 25px;
text-decoration: none;
display: inline-block;
font-size: 14px;
text-transform: uppercase;
font-weight: 100;
transition: all .5s ease;
background-color: transparent;
}
.message-text .button a:hover{
  background-color: #ffffff;
  color:#000000;
}

.testimonials{
  padding:100px 0px;
  background-color: #030303;
}
.testimonials .section-title h1{
  color:#ffffff;
}
.testimonials .section-title h1:before{
  content: '';
  left:0;
  position:absolute;
  height:2px;
  right:38%;
  background-color: #524f51;
  bottom:0px;
}

.testimonials .section-title h1:before{
  left:30%;
}
.testimonials .testimonial-content{
  position:relative; 
  overflow:hidden;
  flex:0 0 100%;
  max-width:100%;
}

.testimonials .testimonial-content .testi-slider .slide{
  background-color:rgba(26, 13, 34, 0.4);
  margin-bottom:15px;
  padding:40px 20px;
  border-radius:4px;
  float:left;
  width:100%;
  text-transform: uppercase;
  text-align: center;
   
  }
  

.testimonials .testimonial-content .testi-slider .slide .img {
 max-width:100% ;
}
.testimonials .testimonial-content .testi-slider .slide .img img {
  max-width:100% ;
 }

.testimonials .testimonial-content .testi-slider{
  float:left;
  transition: margin 1s ease;
}
.testimonials .testimonial-content .testi-slider .slide h3{
  font-size:16px;
  font-weight:600;
  color:#ffffff;
  margin:10px 0 10px;
  text-align: center;
}
.testimonials .testimonial-content .slide-controls{
  float:left;
  width:100%;
  text-align: center;
}
.testimonials .testimonial-content .slide-controls div{
  height:15px;
  width:15px;
  background-color: #ffffff;
  border-radius: 50%;
 
  display:inline-block;
  margin:10px 6px;
  cursor:pointer;
}
.testimonials .testimonial-content .slide-controls div.active{
  background-color: #2e075a;
}


.Blogs{
  padding:100px 15px;
  background-color: #f7f5f5;
}

.Blogs .section-title h1:before{
  left:30%;
}
.Blogs .blog-content{
  
  flex: 0 0 100%;
  max-width:100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Blogs .blog-content .box{
  flex:0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
}

.Blogs .blog-content .box .img img{
  width: 100%;
  display:block;
  transition:all .5s ease;
}
.Blogs .blog-content .box:hover .img img{
  transform:scale(1.1);
}
.Blogs .blog-content .box .info{
  padding:10px 0;
}
.Blogs .blog-content .box .info span{
  font-size: 12px;
  color:#838383;
  display: inline-block;
}
.Blogs .blog-content .box .info span:nth-child(2){
  border-left:1px solid #dddddd;
  padding-left: 8px;
  margin-left:10px;
}
.Blogs .blog-content .box h3{
 font-size:22px;
 font-weight: 600;
 color:#000000;
 margin:0;
 padding:0; 

}
.Blogs .blog-content .box p{
 font-size:15;
 font-weight:400;
 line-height:24px;
 color:#838383;
 margin:0 0 10px;
}
.Blogs .blog-content .box a{
  font-size:14px;
  color:#febd01;
  text-transform: uppercase;
  font-weight:600;
  text-decoration:none;
  display:inline-block;
  border-bottom:2px solid #febd01;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
.Blogs .blog-content .box a:hover{
  color:#000000;
  border-color:#000000;
}

footer{
  padding:70px 15px;
  background-color: #0c0c17;
}
footer .logo{
  flex:0 0 100%;
  max-width:100%;
  text-align:center;
  font-size:45px;
  color:#ffffff;
  font-weight:900;
}
footer .social{
  flex:0 0 100%;
  max-width:100%;
  text-align:center;
  padding-top:15px;
}
footer .social a{
  color:#999999;
  text-decoration:none;
  display: inline-block;
  margin:0px 12px;
  transition:all .5s ease;
}
footer .social a:hover{
  color:#ffffff;
}
.copyright{
  background-color: #0c0c17;
  border-top:1px solid #1d1d27;
}
.copyright p{
 color:#838383;
 margin:0;
 text-align:center;
 font-weight: 400;
 font-size:15;
}
.yesah .fa{
  font-size:30px;
  height:30px;
  width:35px;
  background-color:#ffffff;
  color:#000000;
  border-radius:3px;
  line-height: 30px;
  text-align: center;
  cursor:pointer;
  display: none;
  border:1px solid #eeeeee;
}
@media(max-width:991px){
   .home .home-content .block h1{
     font-size: 50px;
   }
}
.header .brand-name a{
  color:#000000;
}
@media(max-width:767px){
 .home .home-content .block h1{
   font-size:40px;
 }
 .home .home-content .block h3{
  font-size:25px;
}
header .brand-name a{
  text-decoration: none;
  font-size: 30px;
  font-weight: 400px;
  color: #000000;
  text-transform: uppercase;
  position: relative;
}
  header{
    padding:15px;
    position:fixed;
    background-color: #ffffff;
    border:none;
    border-bottom:1 px solid #eeeeee;
    z-index:11;
  }
  .yesah .fa{
      display:inline-block;
  }
  .Grant{
    position:absolute;
    background-color: #ffffff;
    width:100%;
    left:0px;
    top:60px;
    padding:15px;
    border-top:1px solid #eeeeee;
    display:none;
    border-bottom:1px solid #eeeeee;
   }
   .Grant.show{
     display:block;
   }
   header .Grant ul li{
     display:block;
     margin-left:0;
   }
   header .Grant ul li a{
     line-height:42px;
     color:#000000;
   }
   header .Grant ul li a::before{
     background-color: #febd01;
   }
   .about-me .about-content .text{
     flex:0 0 100%;
     max-width:100%;
     padding-left:0px;
     padding-top:30px;
   }
   .about-me .about-content .img{
    flex:0 0 100%;
    max-width:100%;
   }
   .Services .Service-content .box{
    background-color:#ffffff;
    padding:30px;
    flex:0 0 100%;
    max-width:100%;
  }
  .skills .Skills-content{
    flex:0 0 100%;
    max-width:100%;
    padding-right:0px;
  }
  .skills .img{
    flex: 0 0 100%;
    max-width:100%;
  }
  .portfolio .portfolio-gallery .item{
    flex:0 0 50%;
    max-width:50%;
    position:relative;
    padding:8px;
  }
  .message-text .text{
    flex:0 0 100%;
    max-width:100%;
  }
  .message-text .button{
    flex:0 0 100%;
    max-width:100%;
    text-align:left;
    padding-top:20px;
  }
  .Blogs .blog-content .box{
    flex:0 0 100%;
    max-width:100%;
    margin-bottom: 40px;
  }
  
}
@media(max-width:500px){
  .home .home-content .block h1{
    font-size:30px;
  }
  .home .home-content .block h3{
   font-size:20px;
 }
 .home .home-content .block{
   padding-left:20px;
 }
 .portfolio .portfolio-gallery .item{
  flex:0 0 100%;
  max-width:100%;
}
.about-me .about-content .text .info .list p{
  margin:0;
  flex:0 0 100%;
}
.testimonials .testimonial-content .testi-slider {
  text-align: center;
}
.testimonials .testimonial-content .testi-slider .slide .img{
  flex:0 0 100%;
  max-width:100%;
}
.testimonials .testimonial-content .testi-slider .slide .img img {
  max-width:100% ;
 }
.testimonials .testimonial-content .testi-slider .slide{
  flex-wrap:wrap;

}
}
